<div class="container overflow-hidden">
  <div class="row gy-5">
    <div class="col-6">
      <div class="p-3 border bg-light">
        <h2>New Article</h2>
        <textarea name="name" rows="8" cols="70"></textarea>
        <div>
          <%= link_to 'Cancel', :back, class: "btn btn-default" %>
          <%= link_to 'Create', :back, class: "btn btn-primary" %>
        </div>
      </div>
    </div>
  </div>
</div>
